.card {
    border-radius: 5px;
    margin: 0.5rem;
    padding: 1rem;
    background-color: #fff;
    text-align: center;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    justify-content: center;
}
.card-image{
    max-height: 400px;
    max-width: 200px;
}
.card-title {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}
.card-description {
    font-size: 1rem;
}

@media (max-width: 768px) {
    .card {
        width: 100%;
        flex-direction: row;
    }
    .card-image {
        max-width: 33.33%;
        padding: 0.5rem;
    }
    .card-title{
        font-size: 1rem;
    }
    .card-description {
        text-align: left;
    }
}
