.App {
  text-align: center;
  background-color: lightsteelblue;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.body {
  margin: 4rem;
}

button {
  padding: 0.5rem;
  background-color: midnightblue;
  color: white;
  font-weight: bold;
  border-radius: 0.5rem;
  width: 8rem;
}

button:hover {
  background-color: skyblue;
  color: black;
}

h1 {
  margin-left: 1rem;
  color: white;
}

p {
  padding: 0.5rem;
}

input {
  border-color: #2c2847;
  border-radius: 0.2rem;
  background-color: aliceblue;
}

label {
  padding: 0.5rem;
}

.center-content {
  align-content: center;
}

.margins-sides {
  margin-left: 8rem;
  margin-right: 8rem;
}

.panel {
  background-color: white;
  height: auto;
  padding: 2rem;
  border-radius: 0.5rem;
  margin: 1rem;
}

@media (min-width: 768px) {
  .body {
    margin: 0 8rem;
  }
  .card-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .card {
    flex: 0 0 auto;
    margin-right: 1rem;
  }
}

@media (max-width: 767px) {
  .body {
    margin: 0 20px;
  }
  .card-container {
    display: block;
  }
}
